authenticationToken=f8eqk2wmmb
#drSignalEndpointUrl=https://wattalyst-ci.se.rwth-aachen.de/SecuredDRSignalManagementService/SecuredDRSignalManagement
#drSignalWsdlUrl=https://wattalyst-ci.se.rwth-aachen.de/SPEC/SecuredDRSignalManagement-CI.WSDL
#dataEndpointUrl=https://wattalyst-ci.se.rwth-aachen.de/SecuredDataAccessService/SecuredDataAccess
#dataWsdlUrl=https://wattalyst-ci.se.rwth-aachen.de/SPEC/SecuredDataAccess-CI.WSDL
drSignalEndpointUrl=https://wattalyst.se.rwth-aachen.de/SecuredDRSignalManagementService/SecuredDRSignalManagement
drSignalWsdlUrl=https://wattalyst.se.rwth-aachen.de/SPEC/SecuredDRSignalManagement-PROD.WSDL
dataEndpointUrl=https://wattalyst.se.rwth-aachen.de/SecuredDataAccessService/SecuredDataAccess
dataWsdlUrl=https://wattalyst.se.rwth-aachen.de/SPEC/SecuredDataAccess-PROD.WSDL	
