authenticationToken=<the token>
#drSignalEndpointUrl=https://wattalyst-ci.se.rwth-aachen.de/SecuredDRSignalManagementService/SecuredDRSignalManagement
#drSignalWsdlUrl=https://wattalyst-ci.se.rwth-aachen.de/SPEC/SecuredDRSignalManagement-CI.wsdl
#dataEndpointUrl=https://wattalyst-ci.se.rwth-aachen.de/SecuredDataAccessService/SecuredDataAccess
#dataWsdlUrl=https://wattalyst-ci.se.rwth-aachen.de/SPEC/SecuredDataAccess-CI.wsdl
drSignalEndpointUrl=https://wattalyst.se.rwth-aachen.de/SecuredDRSignalManagementService/SecuredDRSignalManagement
drSignalWsdlUrl=https://wattalyst.se.rwth-aachen.de/SPEC/SecuredDRSignalManagement-PROD.wsdl
dataEndpointUrl=https://wattalyst.se.rwth-aachen.de/SecuredDataAccessService/SecuredDataAccess
dataWsdlUrl=https://wattalyst.se.rwth-aachen.de/SPEC/SecuredDataAccess-PROD.wsdl	
